:root {
    --book-card-bg-color: #FFFFFF;
    --book-card-text-color: #4A4A4A;
    --button-text-color: #F7F9FB;

    --shadow-color: rgba(0, 0, 0, 0.3);
}

#books-grid-area {
    background-color: var(--body-main-color);
    width: 75%;
    min-width: 300px;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4px var(--shadow-color);

    & .empty-grid-placeholder {
        opacity: 0.5;
    }
}

.book-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 30px) 1fr;

    background-color: var(--book-card-bg-color);
    color: var(--book-card-text-color);
    box-shadow: 1px 1px 3px var(--shadow-color);

    border-radius: 10px;
    padding: 15px;

    position: relative;
}

.book-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 5px;

    background-color: var(--card-accent-color);
    transition: ease-in background-color 0.3s;
}

.book-card::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 5px;

    background-color: var(--card-accent-color);
    transition: ease-in background-color 0.3s;
}

.book-title {
    font-weight: bolder;
    font-size: 1.2rem;
}

.author-name {
    font-weight: bolder;
}

.book-card button {
    font-family: inherit;
    font-size: 1rem;

    align-self: flex-end;
    justify-self: flex-end;

    width: 170px;
    background-color: var(--card-accent-color);
    color: var(--button-text-color);
    border-radius: 10px;
    border: none;
    padding: 8px 10px;

    cursor: pointer;
    transition: ease-in opacity 0.3s, ease-in background-color 0.3s;
}

.book-card button:hover {
    opacity: 0.9;
}

.book-card button:active {
    opacity: 0.7;
}

.book-card .remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;

    padding: 0;
    width: fit-content;

    background-color: transparent;
    border-radius: 50%;
    &>img {
        width: 30px;
    }
}