:root {
    font-size: 16px;

    --header-bg-color: #1B263B;
    --header-main-color: #F7F9FB;
    --body-bg-color: #E3E6E8;
    --body-main-color: #D6E6F2;

    --book-card-bg-color: #FFFFFF;
    --book-card-text-color: #4A4A4A;
    --button-color: #357ABD;
    --button-text-color: #F7F9FB;

    --book-read-color: #16a34a;

    --shadow-color: rgba(0, 0, 0, 0.3);
    --accent-color: #FFD166;
}

* {
    box-sizing: border-box;
}

body, p, h1, h2 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato;
    background-color: var(--body-bg-color);

    display: grid;
    grid-template-rows: 100px 50px 1fr;
}

header {
    background-color: var(--header-bg-color);
    color: var(--header-main-color);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 2px var(--shadow-color);
}

h1 {
    font-family: "Rubik Vinyl";
    font-size: 3rem;
}

h2 {
    font-size: 1.8rem;

    position: relative;
    width: 75%;
    min-width: 300px;
    justify-self: center;
    align-self:self-end;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--button-color);
}

#books-grid-area {
    background-color: var(--body-main-color);
    width: 75%;
    min-width: 300px;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px;
    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--shadow-color);

}

.book-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 30px) 1fr;

    background-color: var(--book-card-bg-color);
    color: var(--book-card-text-color);
    box-shadow: 1px 1px 3px var(--shadow-color);

    border-radius: 10px;
    padding: 15px;

    position: relative;
}

.book-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 5px;
    background-color: var(--book-read-color);
}

.book-card p + p {
    margin-top: 5px;
}

.book-title {
    font-weight: bolder;
    font-size: 1.2rem;
}

.book-card button {
    font-family: inherit;
    font-size: 1rem;

    align-self: flex-end;
    justify-self: flex-end;

    width: 170px;
    background-color: var(--book-read-color);
    color: var(--button-text-color);
    border-radius: 10px;
    border: none;
    padding: 8px 10px;

    cursor: pointer;
    transition: opacity 0.2s;
}

.book-card button:hover {
    opacity: 0.9;
}

.book-card button:active {
    opacity: 0.7;
}